*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;

}
.container {
  width: 100%;
  background-color:#353839;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: block;
}
.container2 {
  width: 100%;
  background-color:#353839;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
body {
margin: 1;
padding: 10px;
background-color: #353839;
}
.navbar {
height: 12%;
display: block;
align-items: center;
background-color: #F0F8FF;
}
nav {
flex: 1;
text-align: center;
}
nav ul li {
list-style: none;
text-decoration: none;
display: inline-block;
margin-left: 30px;
padding-bottom: 20px;
}
nav ul li a {
text-decoration: none;
color: #fff;
font-size: 14px;
}

.row {
  display: flex;
  height: 88%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.col {
  flex-basis: 80%;
  display: inline-grid;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 10px;
  border: 4px solid #44a4f2;
  box-shadow: 5px 10px #696969;
  border-radius: 8px;
  border-spacing: 20px;
}
.col1 {
  flex-basis: 80%;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  display: flex;
}
.col2 {
  flex-basis: 80%;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  display: inline-grid;
  padding: 10px;
}
.row1 {
  display: inline-grid;
  justify-content: center;
  padding: 10px;
}
.row2 {
  display: inline-grid;
  justify-content: center;
  border: 3.25px solid #DAA520;
  border-radius: 8px;
  padding: 20px;
  flex-basis: 75%;
}
.row3 {
  display: inline-grid;
  justify-content: center;
  border: 3.25px solid #DAA520;
  border-radius: 8px;
  padding: 20px;
  flex-basis: 75%;
}
.row4 {
  display: inline-grid;
  justify-content: center;
  border: 3.25px solid #DAA520;
  border-radius: 8px;
  padding: 20px;
  flex-basis: 75%;
}
.card {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  box-sizing: content-box;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  text-align: center;
}
.card:hover{
  transform: translateY(-10px);
}
h1 {
text-align: center;
line-height: 1.5;
color: white;
padding: 10px;
}
h2 {
padding: 10px;
text-align: center;
color: white;
text-decoration: none;
line-height: 1.5;
}
h3 {
padding: 10px;
text-align: center;
color: white;
line-height: 1.5;
border: 4px solid #6495ED;
border-radius: 8px;
box-shadow: 5px 10px #696969;
}
p {
padding: 10px;
text-align: left;
color: white;
line-height: 1.75;
}
blockquote {
  border-left-style: solid;
  border-color: #512da8;
  line-height: 1.5;
  color: white;
  padding: 10px;
}
details {
  padding: 10px;
  text-align: left;
  color: white;
  line-height: 1.5;
  flex-basis: 75%;
  cursor: pointer;
}
.books {
background-color: #512da8;
border: none;
color: white;
padding: 15px 30px;
padding-top: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
justify-content: start;
align-items: center;
border-radius: 16px;
transition: transform 0.5s;
}
.home {
background-color: #1a76d2;
border: none;
color: white;
padding: 15px 30px;
padding-top: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
justify-content: center;
align-items: center;
border-radius: 16px;
transition: transform 0.5s;
}
.mirror1 {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.books1 {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.home1 {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.home:hover{
  transform: translateY(-10px);
}
.books:hover{
  transform: translateY(-10px);
}
.material-icons-outlined{
  color: #7FFF00;
  padding-top: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  
  .cottage-icon {
    color: #FFFF00;
    padding-top: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
.material-icons-outlined:hover{
  transform: translateY(-10px);
  transition: transform 0.5s;
  }
.remove-underline{
text-decoration: none;
color: white;
}
.calibir {
  text-decoration: none;
  color: #C0C0C0;
  text-weight: bold;
}

</style>